@model Blinger.MVC.Data.Flight

@{
    ViewData["Title"] = "Delete";
}

<h1>All seats</h1>

<h3>In this flight there are @(@Model.Row*@Model.Col) seats</h3>
<div>
    <hr />
    <dl class="row">
        
        <dt class="col-sm-2">
            Rows
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Row)
        </dd>
        <dt class="col-sm-2">
            Cols
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Col)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index">Back to List</a>
        <a asp-action="Index">Book seat da se dovurshi</a>
    </form>
</div>
