@model IEnumerable<Blinger.MVC.Data.Airline>

@{
    ViewData["Title"] = "Delete";
}

<body class="FlightIndex">
    <p class="CreateNew">
        Here you can Delete Airlines.
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td width="90%">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btnfordelete">Delete</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</body>
